<div>


	<table class="table table-bordered table-hover" id="cinelists">
	<%var i=1;_.each(collection.models, function(m){
		%>
		<tr>
		<td id=<%=i%> class='cinemalist'> <%=m.get('name')%>
		</td>
		</tr>
	
	
    
   
	
<%i++;})%>

</table>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  	<div class="modal-dialog">
    	<div class="modal-content">
	      	<div class="modal-header">
	        	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	        	<h4 class="modal-title" id="myModalLabel">Modal title</h4>
	      	</div>
	      	<div class="modal-body">
	      		<label>Enter cinema name</label><input class="form-control" id="cname"></input>
	     	 </div>
	     	 <div class="modal-footer">
	       		 <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	        	 <button type="button" class="btn btn-primary" id="addcinema" data-dismiss="modal">Save changes</button>
	      	  </div>
    	</div>
 	</div>
</div>
				<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">add row</button>


